p-table {
  th {
    color: #000;
    font-weight: 500;
  }
  .event {
    font-weight: 600;
  }
  .venue {
    font-weight: 500;
  }
  .image {
    img {
      cursor: pointer;

      &:hover {
        opacity: 40%;
      }
    }
  }
}
