<mat-spinner *ngIf="isLoading"></mat-spinner>
<section *ngIf="!isLoading">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Paper/Project Table"
      ><div class="table">
        <p-table
          [value]="activityDetails"
          responsiveLayout="scroll"
          [scrollable]="true"
          scrollHeight="400px"
          styleClass="p-datatable-gridlines"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="event">
                Event <p-sortIcon field="event"></p-sortIcon>
              </th>
              <th>Venue</th>
              <th pSortableColumn="prize">
                Prize <p-sortIcon field="prize"></p-sortIcon>
              </th>
              <th>Mode</th>
              <th>Date</th>
              <th>Certificate</th>
              <th pSortableColumn="mark">
                Mark<p-sortIcon field="mark"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-activity>
            <tr>
              <td class="event">{{ activity.event | titlecase }}</td>
              <td>{{ activity.venue | titlecase }}</td>
              <td>{{ activity.prize | titlecase }}</td>
              <td>{{ activity.mode | titlecase }}</td>
              <td>{{ activity.date | date: "dd/MM/yyyy" }}</td>
              <td class="image">
                <img
                  [src]="activity.image"
                  [alt]="activity.event"
                  width="80"
                  class="shadow-4"
                  (click)="openDialog(activity.image)"
                  pTooltip="Click to view Larger"
                />
              </td>
              <td>{{ activity.mark }}</td>
              <td>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger p-button-outlined"
                  (click)="onDeleteActivity(activity._id)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-tab>
    <mat-tab label="Gate/VAC Table"><app-gate-table></app-gate-table> </mat-tab>
    <mat-tab label="Club Activity Table"
      ><app-table-content></app-table-content>
    </mat-tab>
    <mat-tab label="Internship/Placement Table"
      ><app-intern-table></app-intern-table>
    </mat-tab>
    <mat-tab label="Sports Activity Table"
      ><app-sports-table></app-sports-table>
    </mat-tab>
    <mat-tab label="NCC/Other Activity Table"
      ><app-other-table></app-other-table>
    </mat-tab>
  </mat-tab-group>
</section>
