<div *ngIf="activityDetails" class="mat-card-outer">
  <div class="cards" *ngFor="let activity of activityDetails">
    <mat-card>
      <mat-card-title
        ><div class="title">
          <h1>{{ activity.event }},</h1>
          <h3>{{ activity.venue }}</h3>
        </div></mat-card-title
      >
      <mat-divider></mat-divider>
      <mat-card-content>
        <div>
          <p><span>Type</span>: {{ activity.type }}</p>
          <p><span>Prize</span>: {{ activity.prize }}</p>
        </div>
        <div>
          <p><span>Date</span>: {{ activity.date }}</p>
          <p><span>Mode</span>: {{ activity.mode }}</p>
        </div>
        <div>
          <img [src]="activity.image" alt="Certificate" />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
