<div class="container">
  <div class="card">
    <mat-card>
      <div class="title">
        <h3>Upload Your Details</h3>
        <button
          mat-raised-button
          class="history"
          color="primary"
          (click)="onClick()"
          matTooltip="Show History"
        >
          History <mat-icon>update</mat-icon>
        </button>
      </div>
      <div class="required">Input box with <span>*</span> is required!</div>
      <div class="tab">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Paper/Project Presentation">
            <app-student-detail-form></app-student-detail-form>
          </mat-tab>
          <mat-tab label="VAC/ Gate">
            <app-vac></app-vac>
          </mat-tab>
          <mat-tab label="Leadership/Member in club">
            <app-club></app-club>
          </mat-tab>
          <mat-tab label="Internship/Placement">
            <app-internship></app-internship>
          </mat-tab>
          <mat-tab label="Sports Activites">
            <app-sports></app-sports>
          </mat-tab>
          <mat-tab label="NCC/Social Activites">
            <app-other></app-other>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>
