.card {
  mat-card {
    width: 85%;
    margin: auto;
    height: 140vh;
    border-radius: 10px;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 40px;

      h3 {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 600;
      }

      button {
        margin-left: 2px;
        .history {
          font-size: 20px;
        }
        padding: 2 2px;
      }
    }
    .tab {
      width: 100%;
      margin-top: 30px;
    }
  }
}

.required {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;

  span {
    color: red;
  }
}
