nav {
  margin: 55px auto;
}
.main {
  .logo {
    display: flex;
    justify-content: space-between;
    margin: auto 340px;

    img {
      height: 80px;
    }

    .title {
      text-align: center;

      h1 {
        font-size: 48px;
      }

      p {
        font-size: 22px;
      }
    }
  }
}
