mat-card {
  width: 90%;
  height: 90vh;
  margin: auto;

  mat-spinner {
    width: 20%;
    margin: auto;
  }

  mat-card-header {
    justify-content: center;
  }

  mat-card-content {
    form {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: auto;

      mat-form-field {
        margin-bottom: 10px;

        mat-label {
          color: #000;
        }
      }
    }
  }
}
