<div class="admin">
  <div class="form">
    <h1>Admin Section</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <mat-form-field appearance="outline">
        <mat-label>Enter Admin Mail</mat-label>
        <input
          matInput
          name="email"
          type="email"
          placeholder="Admin Mail"
          required
          ngModel
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter Admin Password</mat-label>
        <input
          matInput
          name="password"
          type="password"
          placeholder="Admin Password"
          required
          ngModel
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        *ngIf="!isAuth"
      >
        Log In
      </button>
      <mat-spinner *ngIf="isAuth"></mat-spinner>

      <mat-error *ngIf="errorMsg">{{ errorMsg }}</mat-error>
    </form>
  </div>
</div>
