.admin {
  .form {
    h1 {
      font-size: 38px;
      text-align: center;
      margin: 40px auto;
    }

    form {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      button {
        padding: 5px 30px;
        font-size: 18px;
      }

      mat-error {
        margin-top: 13px;
        font-size: 16px;
      }
    }
  }
}
