<div class="container">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Sport Name</mat-label>
      <input
        matInput
        name="sport"
        type="text"
        placeholder="Sport Name"
        formControlName="sport"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Event-name</mat-label>
      <input
        matInput
        name="event"
        type="text"
        placeholder="Event Name"
        formControlName="event"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Event-Venue (with full address)</mat-label>
      <input
        matInput
        name="venue"
        type="text"
        placeholder="Event taken place"
        formControlName="venue"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Prize</mat-label>
      <mat-select formControlName="prize">
        <mat-option value="first">1'st Prize</mat-option>
        <mat-option value="second">2'nd Prize</mat-option>
        <mat-option value="third">3'rd Prize</mat-option>
        <mat-option value="Participation">Participation</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          formControlName="date"
          matStartDate
          placeholder="Start date"
          required
        />
        <input formControlName="endDate" matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Level</mat-label>
      <mat-select formControlName="level">
        <mat-option value="zonal">Zonal Level</mat-option>
        <mat-option value="state">State Level</mat-option>
        <mat-option value="national">National Level</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mark for This</mat-label>
      <input
        matInput
        name="mark"
        type="number"
        placeholder="Obtained Mark for this"
        formControlName="mark"
        required
      />
    </mat-form-field>

    <mat-label class="file-title">
      Upload only in .png, .jpg, .jpeg format, Other format's not allowed
      <br />
      <br />
      <span style="color: red">Note:</span> Other Format,
      <a href="https://www.ilovepdf.com/pdf_to_jpg" target="_blank">Click here</a> to Covert pdf
      to image
    </mat-label>
    <button
      class="file"
      mat-stroked-button
      color="accent"
      type="button"
      (click)="filePicker.click()"
    >
      Insert Certificate Image
    </button>
    <input type="file" #filePicker (change)="onImagePicked($event)" required />
    <div>
      <img
        [width]="100"
        style="margin-bottom: 10px"
        [src]="imageDisplay"
        alt=""
      />
    </div>

    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>
</div>
