<div class="sizing">
  <div class="container">
    <mat-card class="main-card">
      <div class="main-card-img">
        <img
          src="{{ '../../../../../assets/IMG-20210226-WA0002.jpg' }}"
          alt="Profile picture"
        />
      </div>
      <mat-divider inset></mat-divider>
      <div class="title">
        <mat-card-title>{{ studentDetail.username }}</mat-card-title>
        <mat-card-title>{{ studentDetail.rollno }}</mat-card-title>
      </div>
      <mat-card-actions>
        <div class="content">
          <p>Paper Presented - {{ paperCount }}</p>
          <p>Project Presented - {{ projectCount }}</p>
          <p>Other Activities - {{ otherCount }}</p>
        </div>
      </mat-card-actions>
    </mat-card>

    <div class="expansion">
      <mat-card class="expansion-card">
        <app-detailed-table></app-detailed-table>
      </mat-card>
    </div>
  </div>
</div>
