.container {
  mat-card {
    width: 86%;
    margin: auto;
    height: 120vh;

    mat-card-title {
      h1 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }

    mat-expansion-panel {
      margin-top: 10px;
      border: 0px 3px 4px 3px solid rgba(61, 61, 61, 0.788);

      mat-panel-title {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }

    mat-card-subtitle {
      text-align: center;
      color: #000;
      font-weight: 400;

      h4 {
        font-size: 17px;
        color: red;
      }

      span {
        font-weight: 500;
        color: #000;
      }
    }
    mat-spinner {
      margin: 20%;
      margin: auto;
    }
  }
}
