<div class="container">
  <mat-card>
    <h3>
      This is only for new user. <br />
      If you are already Signed Up, Please use <a routerLink="/">Login</a>.
    </h3>
    <h1>Fill up the following details</h1>
    <form [formGroup]="signupForm">
      <mat-form-field appearance="outline">
        <mat-label>Your Name</mat-label>
        <input
          matInput
          name="name"
          type="text"
          placeholder="Your name"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kongu Mail</mat-label>
        <input
          matInput
          name="email"
          type="email"
          placeholder="Mail with .edu"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Roll Number</mat-label>
        <input
          matInput
          name="roll"
          type="text"
          placeholder="Roll Number"
          formControlName="roll"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          name="mentor"
          type="password"
          placeholder="Your Mentor Name"
          formControlName="password"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mentor Name</mat-label>
        <input
          matInput
          name="mentor"
          type="text"
          placeholder="Your Mentor Name"
          formControlName="mentor"
          required
        />
      </mat-form-field>
      <mat-label>Profile Picture (.png, .jpg, .jpeg only allowed!)</mat-label>
      <button mat-stroked-button color="accent" type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input
        type="file"
        #filePicker
        (change)="onImagePicked($event)"
        required
      />

      <div class="col-2 pl-0">
        <img [width]="100" [src]="imageDisplay" alt="" />
      </div>

      <button
        mat-raised-button
        color="primary"
        [disabled]="signupForm.invalid"
        (click)="onSubmit()"
      >
        Sign Up
      </button>
    </form>
  </mat-card>
</div>
