.container {
  margin: 20px 50px 10px 50px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .file-title {
      font-weight: 500;
      font-size: 15px;
    }

    .file {
      margin-top: 10px;
    }

    input[type="file"] {
      visibility: hidden;
    }
  }
}
