<div class="container">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Course-name</mat-label>
      <input
        matInput
        name="event"
        type="text"
        placeholder="Event Name"
        formControlName="event"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Course Platform</mat-label>
      <input
        matInput
        name="venue"
        type="text"
        placeholder="Event taken place"
        formControlName="venue"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mode (online/offline)</mat-label>
      <mat-select formControlName="mode">
        <mat-option value="online">ONLINE</mat-option>
        <mat-option value="offline">OFFLINE</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Course Completed date</mat-label>
      <input
        matInput
        formControlName="date"
        required
        placeholder="mm/dd/yyyy"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-label class="file-title">
      Upload only in .png, .jpg, .jpeg format, Other format's not allowed
      <br />
      <br />
      <span style="color: red">Note:</span> Other Format,
      <a href="https://www.ilovepdf.com/pdf_to_jpg">Click here</a> to Covert pdf
      to image
    </mat-label>
    <button
      class="file"
      mat-stroked-button
      color="accent"
      type="button"
      (click)="filePicker.click()"
    >
      Insert Course-Certificate Image
    </button>
    <input type="file" #filePicker (change)="onImagePicked($event)" required />
    <div>
      <img [width]="100" [src]="imageDisplay" alt="" />
    </div>

    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>
</div>
