<div class="main">
  <div class="logo">
    <img
      src="../assets/1565787142222 (1) (2).png"
      alt="Kongu Engineering College"
    />
    <div class="title">
      <h1>Kongu Engineering College</h1>
      <p>Perundurai, Erode - 638060.</p>
    </div>
    <img
      src="../assets/dea926_fc1e0f87b7314fc9be94826a3460252e (2).gif"
      alt="Kongu Engineering College"
    />
  </div>
  <div class="section">
    <button class="student" routerLink="/student">
      <mat-icon class="button-icon">supervisor_account</mat-icon>STUDENT
    </button>
    <button class="admin" routerLink="/admin">
      <mat-icon class="button-icon">security</mat-icon>ADMIN
    </button>
  </div>
</div>
