nav {
  margin: 55px auto;
}
.main {
  font-family: "Nunito", sans-serif;

  .logo {
    display: flex;
    justify-content: space-between;
    margin: auto 340px;

    img {
      height: 80px;
    }

    .title {
      margin-top: 10px;
      text-align: center;

      h1 {
        font-size: 48px;
      }

      p {
        margin-top: 20px;
        font-size: 22px;
      }
    }
  }

  .section {
    text-align: center;
    margin: 30px auto;
    margin-top: 170px;

    button {
      margin: 20px;
      padding: 40px;
      border-radius: 5px;
      cursor: pointer;
      align-items: center;
      font-size: 26px;

      mat-icon {
        font-size: 24px;
        margin-right: 10px;
        padding-top: 4px;
      }
    }
  }
}
